//color variables

$green: #06ff04;
$red: #fe0000;
$blue: #0000ff;
$yellow: #ffff04;

//color styles

.text {
    
    &-red {
        color: $red;
        display: inline;
    }

    &-green {
        color: $green;
        display: inline;
    }

    &-blue {
        color: $blue;
        display: inline;
    }

    &-yellow {
        color: $yellow;
        display: inline;
    }
}

html {
    background-color: #000000;
}

.textbox {
    font-family: 'VT323', monospace;
    color: #ffffff;

    &-description {
        display: inline;
    }
}

.title {
    font-family: 'VT323', monospace;
    text-align: center;
    color: #ffffff;
}

.game-window {
    border: 7px double #ffffff;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 65% 35%;
}

.center-column {
    display: flex;
    justify-content: center;

    width: 100%;
}

.image {
    height: 50vh;
    margin: 15px;

    display: flex;
    justify-content: center;
}

#col-1 {
    border-right: 7px double #ffffff;
}

#game {
    &-textfield {
        padding: 25px;
    
        height: 65vh;
    }

    &-input {
        margin: 5px;
        padding: 1%;

        height: 5vh;
        width: 97%;

        background: none;

        border: 1px dashed #ffffff;
        border-radius: 10px;

        &::placeholder {
            color: #ffffff;
            font-style: italic;
        }
    }
}

#stats-field {
    display: grid;
    grid-template-columns: 50% 50%;

    border-top: 7px double #ffffff;
}
