.textbox {
    font-family: 'VT323', monospace;
}

.title {
    font-family: 'VT323', monospace;
    text-align: center;
}

html {
    background-color: #000000;
    color: #ffffff;
}

.game-window {
    border: 7px double #ffffff;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 65% 35%;
}

#game-textfield {
    padding: 25px;
}