//color variables -> all red cause of jam reqs ->-> need to change it after to the proper colors

$red: #9e0000;
$green: #9e0000;
$blue: #9e0000;

//color styles

.text {
    &-red {
        color: $red;
    }

    &-green {
        color: $green;
    }

    &-blue {
        color: $blue;
    }
}

.textbox {
    font-family: 'VT323', monospace;
    color: #ffffff;
}

.title {
    font-family: 'VT323', monospace;
    text-align: center;
    color: #ffffff;
}

html {
    background-color: #000000;
    
}

.game-window {
    border: 7px double #ffffff;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 65% 35%;
}

#game-textfield {
    padding: 25px;
}

#stats-field {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image {
    max-height: 220px;

    display: flex;
    justify-content: center;
}
